.weather-conditions{
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    padding: 15px;
}
.weather-temperature{
    font-size: 32px;
}
.weather-description{
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.weather-city{
    font-size: 36px;
}
.weather-info{
    text-align: right;
}
