.weather-conditions{
    background: linear-gradient(to bottom, #B290FF, #2E1D65);
    padding: 15px;
}
.weather-temperature{
    font-size: 32px;
}
.weather-description{
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.weather-city{
    font-size: 36px;
}
.weather-info{
    text-align: right;
}
.weather-more-info{
    margin: 32px 0;
}

.weather-condition-desc{
 margin: 16px 0;
}

.weather-key{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.weather-value{
    font-size: 24px;
    text-align: center;
}
